<app-header></app-header>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card  fxLayoutAlign="top center" fxLayout="row" fxFlex="50">
    
    <div class="card">
      <a class="iconsBG" title="Excel" href='../../assets/Part 1.docx' download="part1.docx"><i class="far fa-file-excel"></i>
        <button>
          <img src="../../assets/doc.jpg" alt="John" style="width:100%">
          <h1> </h1>
          <p class="title">PART 1</p>
          <p></p>
          <p></p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </button>
      </a>
    </div>
    <div class="card">
      <a class="iconsBG" title="Excel" href='../../assets/Part 2.docx' download="part2.docx"><i class="far fa-file-excel"></i>
        <button>
          <img src="../../assets/doc.jpg" alt="John" style="width:100%">
          <h1> </h1>
          <p class="title">PART 2</p>
          <p></p>
          <p></p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </button>
      </a>
    </div>
    <div class="card">
      <a class="iconsBG" title="Excel" href='../../assets/Part 3.docx' download="part3.docx"><i class="far fa-file-excel"></i>
        <button>
          <img src="../../assets/doc.jpg" alt="John" style="width:100%">
          <h1> </h1>
          <p class="title">PART 3</p>
          <p></p>
          <p></p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </button>
      </a>
    </div>
    <div class="card">
      <a class="iconsBG" title="Excel" href='../../assets/Part 4.docx' download="part4.docx"><i class="far fa-file-excel"></i>
        <button>
          <img src="../../assets/doc.jpg" alt="John" style="width:100%">
          <h1> </h1>
          <p class="title">PART 4</p>
          <p></p>
          <p></p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </button>
      </a>
    </div>
  </mat-card>
</div>